################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

# VisualStudio
/.vs
/Debug-x64
/temp
*.pdb
*.exp

# Batch
*.bat
/Release-x64/swmpng.lib
/Release-x64/swmpng.dll
/swmpng
